@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

/*

Fonts:

    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;

Palette:

Global
    marrone chiaro #6a5243
    grigio scuro/nero #0e0eOd
    grigio #929295
    turchese scuro #0a5e6c
    beige #rOcaal
    arancione #d68843
    violetto #bda2f3
    violetto scuro #5b2ca2
    verde #287a00

*/

.container_100_leftright {
    padding-left: 100px;
    padding-right: 100px;
}

.container_100_topbottom {
    padding-top: 100px;
    padding-bottom: 100px;
}

/*General Settings*/
.d_flex {
    display: flex;
}

.color_white {
    color: white;
}

.column {
    flex-direction: column;
}

.align_items {
    align-items: center;
}

.mr_10 {
    margin-right: 10px;
}

.justify_end {
    justify-content: end;
}

.justify_between {
    justify-content: space-between;
}

.justify_around {
    justify-content: space-around;
}

.justify_center {
    justify-content: center;
}

.justify_start {
    justify-content: start;
}

.subtitle {
    color: #929295;
    font-size: 13px;
}

.big_title {
    color: #5b2ca2;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.small_title {
    color: #5b2ca2;
    font-size: 25px;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

.violet_button {
    display: inline-block;
    color: white;
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
    background-color: #5b2ca2;
    text-decoration: none;
}

.violet_button:hover {
    background-color: #bda2f3;
    color: #5b2ca2;
    transition: 0.4s;
}